In [2]:
import pandas as pd

claims = pd.read_csv("../data/raw/insurance_claims_1000.csv")
regions = pd.read_csv("../data/raw/regions.csv")

# Basic cleaning
claims.dropna(inplace=True)

# Feature engineering
claims["incident_date"] = pd.to_datetime(claims["incident_date"])
claims["high_claim"] = (claims["claim_amount"] > 1500).astype(int)

# Save processed data
claims.to_csv("../data/processed/claims_processed.csv", index=False)

claims.head()

,claim_id,latitude,longitude,claim_amount,claim_type,policy_type,incident_date,high_risk_claim,high_claim
0,1,51.506181,-0.225947,539.51,Vehicle,Standard,2023-02-26,0,0
1,2,51.592607,-0.083240,567.60,Theft,Comprehensive,2023-10-25,0,0
2,3,51.559799,0.049178,2202.33,Property,Standard,2023-04-08,1,1
3,4,51.539799,-0.007110,580.95,Vehicle,Standard,2023-05-17,0,0
4,5,51.473403,0.022624,1147.46,Property,Standard,2023-03-28,0,0